h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

h3 {
  font-size: 32px;
}

.nav-right {
  text-align: right;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;

}

.nav-ul li a {
  text-decoration: none;
  padding: 5px;
}

.home-ul {
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}