h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    font-size: 32px;
}

.nav-right {
    text-align: right;
}

.nav-ul {
    padding: 5px;
    margin-bottom: 80px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-ul li {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 20px;
}

.nav-ul li a {
    text-decoration: none;
    padding: 5px;
}

.logo {
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    transition: all;
}
/*#root {*/
/*  height: fit-content;*/
/*  min-height: 100%;*/
/*}*/

.home-container {
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    border: 5px solid;
    border-radius: 20px;
}

.home-ul {
    font-size: 18px;
}
